<div class="container">



  <div class="layout-left"></div>

  <div style="display: flex;flex-direction: column;align-items: flex-start;flex: 7;"  >

    <img class="img-logo" src="../../assets/images/Escrita branco.svg" alt="logo">
    <div class="layout-center">
      <router-outlet></router-outlet>
    </div>


  </div>

  <div class="layout-right"></div>



</div>

<a style="position: fixed;bottom: 1px;left: 9px;font-size: 10px;"
  href='https://www.freepik.com/vectors/abstract-background'>Background vector created by pikisuperstar -
  www.freepik.com</a>
